:root {
    --bright-color: #D9D9D9;
    --dark-color: #2D2D2D;
    --button-color: #D9D9D9;
    --bright-emphasis-color: #b2b2b2;
    --dark-emphasis-color: #1A1A1A;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--bright-color);
    color: var(--dark-color);
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

.first_screen {
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100vh;
}

.presentation__text {
    text-align: right;
    width: 81%;
    justify-self: right;
}

.presentation__title {
    font-size: clamp(1rem, 6vw, 10rem);
}

.presentation__area-of-interest {
    font-size: 2vw;
}

.presentation__description {
    margin: 1vw 0;
    font-size: 1.5vw;
}

.presentation__links {
    height: 2vw;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5vw;
}

.presentation__links__image {
    height: 100%;
}

.presentation__image-container {
    position: relative;
    display: inline-block;
    width: 50%;
    height: fit-content;
    margin-left: 20%;
    line-height: 0;
}

.presentation__image {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.presentation__image-frame {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    border: 5px solid var(--dark-color);
    box-sizing: border-box;
    border-radius: 2px;
    z-index: -1;
}

.info {
    background-color: var(--dark-color);
    color: var(--bright-color);
    padding: 50px 10%;
    display: flex;
    flex-direction: column;
}

.info__about, .info__education {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info__about {
    text-align: left;
}

.info__education {
    align-self: flex-end;
    position: relative;
    text-align: right;
}

.info__title {
    font-size: 3rem;
}

.info__description {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.projects {
    padding: 50px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    gap: 50px;
    width: 100%;
}

.projects__title {
    font-size: 3.5rem;
}

.projects__list {
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.project-card {
    background-color: var(--dark-color);
    color: var(--bright-color);
    position: relative;
    padding: 10px 10px 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1 1 calc(33% - 50px);
    max-width: calc(33% - 50px);
    box-sizing: border-box;
    border-radius: 15px;
    height: 20vw;
}

.project-image-container {
    width: 100%;
    height: 60%;
}

.project-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.project-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    box-sizing: border-box;
    height: 40%;
}

.project-name {
    font-size: 2rem;
}

.project-summary {
    font-size: 1rem;
}

.project-technologies {
    width: fit-content;
    margin-top: auto;
    list-style-type: none;
    display: flex;
    gap: 5px;
    flex-wrap: nowrap;
    overflow: hidden;
}

.project-technologies__element {
    display: inline-block;
    background-color: var(--dark-emphasis-color);
    padding: 2px 4px;
    border-radius: 3px;
}

.project-hover-card {
    position: fixed;
    width: 40%;
    top: 0;
    left: 0;
    transform: translate(-5px, -5px);
    background-color: var(--bright-color);
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.5s ease, visibility 0.5s ease, transform 0.5s ease;
    z-index: 1;
    display: flex;
    gap: 8px;
}

.project-hover-card__image-container {
    width: clamp(100px, 300px, 40%)
}

.project-hover-card__image {
    width: 100%;
}

.project-hover-card__line {
    background-color: var(--dark-color);
    width: 1px;
}

.project-hover-card__text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.project-hover-card__name {
    font-size: 2rem;
}

.project-hover-card__description {
    font-size: 1rem;
}

.project-hover-card__technologies__title {
    font-size: 1rem;
    margin-bottom: 5px;
}

.project-hover-card__technologies__list {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}

.project-hover-card__technologies__list__element {
    display: inline-block;
    background-color: var(--bright-emphasis-color);
    padding: 2px 4px;
    border-radius: 3px;
}

.footer {
    background-color: var(--dark-color);
    color: var(--bright-color);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 40px 10%;
}

.footer__contact__email {
    color: var(--bright-color);
    font-size: 1.3rem;
}

.footer__contact__links {
    height: 2vw;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.footer__contact__links__image {
    height: 100%;
}

.footer__credits {
    text-align: end;
}

.footer__credits__technologies {
    height: 20px;
    margin-bottom: 20px;
}

.footer__credits__technologies__image {
    height: 100%;
}

.footer__credits__text {
    font-size: 1.1rem;
}

@media (max-width: 1000px) {
    .presentation {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 50px;
        padding: 0 15%;
    }

    .presentation__image-container {
        margin: 0;
        width: 100%;
    }

    .presentation__text {
        width: 100%;
        text-align: left;
    }

    .presentation__title {
        font-size: 10vw;
    }

    .presentation__area-of-interest {
        font-size: 5vw;
    }

    .presentation__description {
        font-size: 3vw;
    }

    .presentation__links {
        flex-direction: row;
        height: 30px;
    }

    .info {
        gap: 40px;
    }

    .info__about, .info__education {
        width: 100%;
    }

    .projects {
        gap: 30px;
    }

    .project-card {
        max-width: 100%;
        height: 80vw;
    }

    .project-hover-card {
        width: 80%;
    }

    .footer {
        flex-direction: column;
        align-items: start;
        gap: 50px;
    }

    .footer__contact {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .footer__contact__links {
        height: 30px;
        margin: 0;
    }

    .footer__credits {
        text-align: start;
    }

    .footer__credits__technologies {
        margin-bottom: 10px;
    }
}